<!-- <!DOCTYPE > -->
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html>
<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Calmadoro</title>
</head>
  <body ng-app="calmadoro" ng-controller="TimeCtrl">
    <div class="container-fluid">
    <div class="bgImage">
      <div class="row" >
        <img src="images/logo.png" class="logo" >
      </div>
      <div class="row">
      <div class="timer">
        {{counterSec}}
      </div>
      </div>
      <div class="row">
        <div class="buttonContainer">
          <button class="button" ng-click="startStop()">{{togglingButton}}</button>
          <button class="button" ng-click="resetTimer()">Reset</button>
        </div>
      </div>
      <div class="row">
        <div class="modeContainer">

          <button class="modebtn" id="work" ng-click="modeWork();">WORK</button>

          <button class="modebtn" id="rest" ng-click="modeRest();" >REST</button>
        </div>
      </div>
      <div class="bindRow" ng-hide=true>
        <p class="bindingBtn">
          Clock-Music bind:
        </p>
        <button ng-click="bindingBtn()">
          {{onoff}}
        </button>
      </div>
      <div class="row musicPlayerBox">
        <p class="playerHeader">PLAY SOME CHILL MUSIC</p>
        <div class="iframe">
          <iframe src="https://embed.spotify.com/?uri=spotify:user:chillhopmusic:playlist:5f0H8yHJtfxIJ8RtjyLWIO&theme=white" width="100%" height="200" frameborder="0" allowtransparency="true">
          </iframe>
        </div>
      </div>
      <div class="row">
      <div class="poweredByContainer">
        <p class="poweredBy">POWERED BY</p> <img src="images/spotifyLogo.png" class="spotifyLogo">
        </div>
      </div>
    </div>
  </div>

  <!-- script files -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script src="controllers/timeCtrl.js"></script>
    <!-- <script type="text/javascript" src="popup.html"></script> -->
  </body>
</html>
